 <div class="container">
  <h1>Ask your coach, be enlightend</h1>
  <form action="/answer" method="get" class="form-group">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="form-control btn btn-primary">
  </form>
</div>
